body {
    background-color: #17152f;
    text-align: center;
    margin:auto;
    color:white;
}

h1{
    background:rgb(61, 61, 61);
    padding:40px;
    margin:0;
    color:black
}

p{
    font-size: 1.8em;
}

button{
    color:white;
    background-color: inherit;
    font-size:50px;
    margin:auto 25px;
    border:2px solid;
    outline:none;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover{
    background-color:lightskyblue;
}

footer{
    width:100%;
    position:fixed;
    bottom:0;
    right:0;
    border-top:3px solid white; 
}


/* Testing Features */
/* #choice{
    display:flex;
    justify-content: space-evenly;
} */

/* #options{
    display: flex;
    justify-content: space-evenly;
} */



/* Testing Features */
/* #results {
    display:flex;
    justify-content:space-evenly;
    background-color:red;
} */