body {
    background-color: orange;
    text-align: center;
}

p{
    font-size: 1.8em;
}

button{
    background-color: inherit;
    font-size:50px;
    margin:20px;
    /* border:none; */
    /* cursor: pointer; */
}